.frm-cotizacion {
  display: grid;
  grid-template-columns: 2.25rem 1fr 2.25rem;

  @include breakpoint(medium) {
    grid-template-columns: $gap6x4 1fr $gap6x4;
  }

  form {
    grid-column: 2;

    @include breakpoint(medium) {
      margin: calc(6vw + 6vh) 0 calc(10vw + 10vh) 0;
    }
  }

  .bloc {
    h3 {
      color: $color-yellow;
      font-size: 1.12rem;
      margin: 0 0 1.5rem;
    }

    @include breakpoint(medium) {
      display: flex;
      flex-wrap: wrap;

      h3 {
        margin: 0 0 calc(1vw + 1vh);
        font-size: calc(1.12vw + 1.12vh);
        width: 100%;
      }
    }
  }

  .field {
    position: relative;
    margin-bottom: 2rem;

    label {
      color: $color-white;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0.82;
      font-size: 0.75rem;

      @include breakpoint(medium) {
        font-size: calc(0.56vw + 0.56vh);
      }
    }

    input,
    select {
      display: block;
      color: $color-white;
      border-bottom: 1px solid $color-white;
      height: 38px;
      width: 100%;
      padding-top: 1rem;

      @include breakpoint(medium) {
        height: calc(2.12vw + 2.12vh);
        font-size: calc(0.62vw + 0.62vh);
      }
    }

    select {
      &::after {
        content: "";
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
      }
    }

    @include breakpoint(medium) {
      width: calc(33.333% - 0.72rem);
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .trl-btn-secondary {
    background-color: $color-yellow;
    color: $color-font;

    svg {
      path {
        fill: $color-font;
      }
    }
  }

  .btn-group {
    .trl-btn {
      width: 100%;
      margin: 0 0 1rem;
    }

    progress {
      display: none;
    }

    @include breakpoint(medium) {
      display: flex;
      margin-top: calc(2vw + 2vh);
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: flex-start;

      label {
        position: relative;
        width: calc(28% - 2rem);
        margin-right: 1rem;

        .trl-btn {
          width: 100%;
        }

        input {
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      small {
        display: block;
      }

      > .w-btn {
        width: 33.33%;
      }

      .w-btn {
        margin: 0 calc(0.5vw + 0.5vh) 0 0;

        span {
          font-size: calc(0.5vw + 0.5vh);
        }

        &.trl-btn-secondary {
          margin-left: auto;
          margin-right: 0;
        }
      }
    }
  }

  .gform_confirmation_wrapper {
    padding: 3rem 0;
    font-weight: 100;
  }
}
