.trl__sec-aboutus {
  color: $color-gray;
  width: 100%;

  .trl-title {
    font-weight: 100;

    strong {
      font-weight: 700;
    }
  }

  .trl-paragraph {
    text-align: justify;
  }

  article {
    display: grid;
  }

  .trl-btn {
    margin: 0 0 3rem;
  }

  .list-steps {
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
      margin-bottom: 0.5rem;
      width: 60px;
      height: 60px;
    }

    strong {
      display: block;
      font-weight: 100;
      color: $color-white;
    }

    li {
      text-align: center;
    }
  }

  figure {
    position: relative;
    max-width: 350px;

    &::before {
      content: "";
      position: absolute;
      top: 1.25rem;
      right: 0;
      width: 90%;
      max-width: 350px;
      height: 100%;
      background-color: $color-yellow;
      z-index: 1;
    }

    img {
      max-width: 350px;
      width: 90%;
      display: block;
      margin: 0 auto;
      position: relative;
      z-index: 2;
    }
  }

  .trl-bloc {
    margin: 0 0 5rem;

    &:last-child {
      margin: 0;
    }
  }

  @include breakpoint(medium) {
    article {
      grid-template-columns: 1fr calc(1.75vw + 1.75vh) 1fr;

      .trl-bloc {
        margin: 0;

        &:first-child {
          max-width: calc(18.75vw + 18.75vh);
        }

        &:last-child {
          grid-column: 3;
          margin-left: auto;
          width: calc(100% - 1rem);
        }
      }
    }

    figure {
      max-width: calc(17vw + 17vh);
      height: calc(24.5vw + 24.5vh);

      span {
        overflow: hidden;
        width: calc(100% - 1rem) !important;
        height: 100%;
        position: relative;
      }

      img {
        @include img_full;
      }
    }

    .list-steps {
      svg {
        width: calc(2.75vw + 2.75vh);
        height: calc(2.75vw + 2.75vh);
      }

      strong {
        font-size: calc(0.75vw + 0.75vh);
      }
    }
  }
}
