.trl__sec-main {
  width: 100%;
  height: calc((var(--vh, 1vh) * 100));
  position: relative;
  overflow: hidden;
  align-items: flex-end;
  flex-wrap: wrap;
  grid-template-rows: 1fr 1fr $gap;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  &::before {
    top: 0;
    background: rgba(16, 16, 16, 0.62);
    z-index: 2;
  }

  &::after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #101010 100%);
    bottom: 0;
    z-index: 3;
  }

  .trl-title {
    span {
      font-family: $font-baro-linetwo;
      font-weight: 400;
    }
  }

  .trl-paragraph {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0 0 2.5rem;
    width: 100%;

    @include breakpoint(medium) {
      font-size: calc(0.92vw + 0.92vh);
    }
  }

  img {
    @include img_full;

    z-index: 1;
  }

  article {
    position: relative;
    z-index: 5;
  }

  @include breakpoint(medium) {
    grid-template-rows: 1fr 1fr calc(4.75vw + 4.75vh);

    article {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
