.trl__sec-portfolio {
  article {
    overflow: hidden;
    grid-column: span 3;
    display: grid;
    grid-template-columns: $gap 1fr $gap;
  }

  .trl-title {
    grid-column: 2;

    @include breakpoint(medium) {
      margin: 0;
    }
  }

  .sld-portfolio {
    grid-column: span 3;
    overflow: hidden;
    margin-bottom: 2rem;
    position: relative;
    width: calc(100% + 260px);
    left: -130px;
  }

  .item {
    position: relative;
    overflow: hidden;
    position: relative;
    width: calc(22vw + 22vh);
    height: calc(12vw + 12vh);

    .lazy-load-image-background,
    img {
      @include img_full;
    }

    a {
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      flex-direction: column;
      padding: 1rem;
      text-align: left;
      transition: all 0.3s ease;
      opacity: 0;
      visibility: hidden;

      h3,
      span {
        color: $color-white;
        z-index: 3;
        display: block;
        margin: 0;
        text-transform: uppercase;
        line-height: 1.5;
        opacity: 0;
      }

      span {
        order: -1;
        font-weight: 600;
        font-size: 0.67rem;
        transform: translateY(60px);
        transition-delay: 0.1s;
        transition: all 0.8s ease;
      }

      h3 {
        font-weight: 100;
        color: $color-yellow;
        font-size: 0.82rem;
        transform: translateY(80px);
        transition-delay: 1.75s;
        transition: all 0.8s ease;
      }

      &::after {
        content: "";
        background-color: rgba(0, 0, 0, 0.75);
        transition: all 0.4s ease;
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
      }
    }

    @include breakpoint(medium) {
      width: calc(24.32vw + 24.32vh);
      height: calc(16vw + 16vh);

      a {
        padding: calc(1.5vw + 1.5vh);

        span {
          font-size: calc(0.72vw + 0.72vh);
        }

        h3 {
          font-size: calc(1vw + 1vh);
        }
      }
    }
  }

  .slick-slider {
    display: grid;
    grid-template-rows: $gap * 1.25 $gap 1fr;
    grid-template-columns: $gap 1fr calc(100vw - 4rem) 1fr $gap;

    .slick-list {
      grid-row: 3;
      grid-column: span 5;
    }

    .slick-arrow {
      grid-row: 1;
      grid-column: 3;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      width: $gap;
      height: $gap;
      transform: none;
      border: 1px solid $color-yellow;
      z-index: 2;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: $color-yellow;
        transition: all 0.3s ease;
        transform-origin: left;
        z-index: 1;
      }

      &.slick-prev {
        margin-left: auto;
        margin-right: $gap;
      }

      &.slick-next {
        margin-left: auto;
      }
    }

    @include breakpoint(medium) {
      grid-template-rows: calc(2vw + 2vh) $gap 1fr;
      grid-template-columns: $gap6x4 1fr $gap6x4;
      grid-template-columns: $gap1132 1fr $gap1132;

      .slick-arrow {
        grid-column: 2;
        width: calc(2vw + 2vh);
        height: calc(2vw + 2vh);

        &.slick-prev {
          margin-right: calc(2vw + 2vh);
        }

        &:hover {
          &::before {
            color: $color-font;
            position: relative;
            z-index: 2;
          }

          &::after {
            left: 0;
          }
        }
      }
    }
  }

  .slick-center {
    .item {
      a {
        opacity: 1;
        visibility: visible;

        span,
        h3 {
          opacity: 1;
          transform: none;
        }
      }
    }
  }

  .trl-btn-group {
    grid-column: 2;
    text-align: center;
  }

  @include breakpoint(medium) {
    article {
      grid-template-columns: $gap6x4 1fr $gap6x4;
    }
  }
}
