.trl__sec-history {
  article {
    grid-column: 2;
    display: grid;

    ul {
      background-color: $color-yellow;
      color: $color-font;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));

      span,
      b {
        font-size: 1.12rem;
      }

      span {
        font-weight: 100;
      }

      li {
        min-height: 140px;
        height: $gap7;
        text-align: center;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &::before,
        &::after {
          content: "";
          background-color: $color-font;
          position: absolute;
          opacity: 0.32;
        }

        &::before {
          bottom: 0;
          width: 82%;
          height: 1px;
        }

        &::after {
          right: 0;
          width: 1px;
          height: 82%;
        }

        &.item-1 {
          order: 1;

          &::before {
            right: 0;
          }

          &::after {
            bottom: 0;
          }
        }

        &.item-2 {
          order: 2;

          &::before {
            left: 0;
          }

          &::after {
            display: none;
          }
        }

        &.item-3 {
          order: 3;

          &::after {
            top: 0;
          }
        }

        &.item-4 {
          order: 4;

          &::after {
            display: none;
          }
        }
      }
    }

    .lazy-load-image-background {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: calc(22vw + 22vh);

      img {
        @include img_full;
      }
    }

    img {
      width: 100%;
      margin-bottom: 3rem;
      z-index: 2;
    }

    .trl-btn-group {
      text-align: center;
    }
  }

  @include breakpoint(medium) {
    grid-template-columns: $gap6x4 1fr;
    position: relative;
    grid-template-rows: calc(12vw + 12vh) 1fr calc(12vw + 12vh);

    article {
      grid-template-columns: 40% 60%;

      ul {
        grid-template-columns: repeat(auto-fit, minmax(calc(8vw + 8vh), 1fr));
        grid-row: 1;

        li {
          padding: calc(1vw + 1vh);
        }

        span {
          font-size: calc(0.82vw + 0.82vh);
          font-weight: 100;
        }

        b {
          font-weight: 600;
          font-size: calc(0.92vw + 0.92vh);
        }
      }

      img {
        grid-row: 1;
        margin: 0;
      }
    }
  }
}
