.trl__sec-tribe {
  grid-template-rows: 0;
  min-height: 50vh;

  .trl-title {
    grid-column: 2;
    grid-row: 3;

    span {
      font-family: $font-baro-strip;
      font-weight: 100;
      font-size: 3.82rem;
    }

    strong {
      font-size: 1.97rem;
    }

    @include breakpoint(medium) {
      grid-column: 2;
      grid-row: 2;

      span {
        font-size: calc(6.5vw + 6.5vh);
        display: block;
        line-height: 1;
      }

      strong {
        font-size: calc(3.25vw + 3.25vh);
      }
    }
  }

  article {
    grid-column: span 3;
    overflow: hidden;
    display: grid;
    grid-template-columns: 2.25rem 1fr 2.25rem;
    grid-template-rows: 1fr 7rem 7rem 7rem 7rem 1fr;

    @include breakpoint(medium) {
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: $gap6x4 1fr $gap6x4;
    }
  }

  .slick-slider {
    grid-column: span 3;
    grid-row: 4;

    img {
      width: calc(4.82vw + 4.82vh);
      min-height: calc(5vw + 5vh);
      margin: 0 auto;
    }

    @include breakpoint(medium) {
      grid-column: span 3;
      grid-row: 3;
    }
  }
}
