.trl-tribu {
  min-height: 200px;
  height: auto;
  margin: 0;

  @include breakpoint(small) {
    min-height: calc(10vw + 10vh);
    grid-template-rows: calc(6vw + 6vh);
    height: auto;
  }
}

.trl-team {
  display: grid;
  grid-template-columns: 2.25rem 1fr 2.25rem;
  margin: 0 0 6rem;

  .trl-team-list {
    grid-column: 2;
  }

  article {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 0 2rem;
    width: 100%;
    height: 22rem;

    h2 {
      margin: 0 0 0.5rem;
      color: $color-yellow;
      font-size: 1.12rem;
      font-weight: 500;
    }

    span {
      font-size: 1rem;
    }

    img {
      display: block;
    }

    ul {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: $color-yellow;
      color: $color-font;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease;
      z-index: 3;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      li {
        display: flex;
        border: 1px solid $color-black;
        width: 100%;
        margin: 0.5rem auto;

        strong {
          background-color: $color-black;
          color: $color-white;
          display: inline-block;
        }

        strong,
        span {
          padding: 0.42rem;
        }
      }
    }

    figure {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    img {
      @include img_full;
    }

    .content {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 100%;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    }
  }

  @include breakpoint(small) {
    .trl-team-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: calc(2vw + 2vh) 0 0;
    }

    article {
      width: calc(50% - 4%);
      margin-right: 8%;

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @include breakpoint(medium) {
    display: grid;
    grid-template-columns: $gap6x4 1fr $gap6x4;

    article {
      width: calc(33.333% - 4%);
      margin-right: 6%;

      h2 {
        font-size: calc(0.82vw + 0.82vh);
      }

      span {
        font-size: calc(0.62vw + 0.62vh);
      }

      &:nth-child(2n) {
        margin-right: 6%;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        ul {
          opacity: 1;
        }
      }
    }
  }

  @include breakpoint(large) {
    article {
      height: calc(16vw + 16vh);
      margin-bottom: calc(2vw + 2vh);
    }
  }
}
