:root {
  --color-black: #000;
  --color-white: #fff;
  --color-yellow: #ffed00;
  --color-gray: #878787;
  --color-bg: #101010;
  --color-black-secondary: #141414;
  --color-font: #2f2f2f;
}

$color-black: var(--color-black);
$color-white: var(--color-white);
$color-yellow: var(--color-yellow);
$color-bg: var(--color-bg);
$color-gray: var(--color-gray);
$color-black-secondary: var(--color-black-secondary);
$color-font: var(--color-font);

$font-gilroy: "Gilroy";
$font-baro-linetwo: "Baro LineTwo";
$font-baro-strip: "Baro Strip";

$gap: 2.25rem;
$gap1: calc(1vw + 1vh);
$gap2: calc(2vw + 2vh);
$gap4: calc(4vw + 4vh);
$gap6: calc(6vw + 6vh);
$gap7: calc(7vw + 7vh);
$gap6x4: calc((6vw + 6vh) + (4vw + 4vh));
$gap1132: calc((11.32vw + 11.32vh) + (11.32vw + 11.32vh));

$breakpoints: (
  "small": 768px,
  "medium": 1024px,
  "large": 1300px,
) !default;
