@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Gilroy Light"), local("Gilroy-Light"),
    url("/static/fonts/Gilroy-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("/static/fonts/Gilroy-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url("/static/fonts/Gilroy-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"),
    url("/static/fonts/Gilroy-Extrabold.woff2") format("woff2");
}

@font-face {
  font-family: "Baro LineTwo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Baro LineTwo"), local("Baro-LineTwo"),
    url("/static/fonts/Baro-LineTwo.woff2") format("woff2");
}

@font-face {
  font-family: "Baro Strip";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Baro Strip"), local("Baro-Strip"),
    url("/static/fonts/Baro-Strip.woff2") format("woff2");
}
