.arrow-bottom {
  content: "";
  display: none;
  appearance: none;
  border: none;
  outline: none;

  @include breakpoint(medium) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: calc(4.75vw + 4.75vh);
    left: calc(3.25vw + 3.25vh);
    z-index: 4;

    span {
      display: block;
      transform: rotate(-90deg) translateX(3vw);
      color: $color-yellow;
      font-size: calc(0.62vw + 0.62vh);
    }

    svg {
      width: calc(1vw + 1vh);
      height: calc(2.25vw + 2.25vh);
    }
  }
}
