.trl-banner {
  display: grid;
  grid-template-columns: $gap 1fr $gap;
  margin: 0 0 9rem;
  min-height: 500px;
  width: 100%;
  height: calc((var(--vh, 1vh) * 100));
  position: relative;
  overflow: hidden;
  align-items: flex-end;
  flex-wrap: wrap;
  grid-template-rows: 1fr 1fr $gap;
  margin: 0 0 5rem;
  z-index: 1;

  .trl-title {
    strong {
      font-family: $font-baro-linetwo;
      font-weight: 100;
    }
  }

  article {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  img {
    @include img_full;

    z-index: 1;
  }

  figure {
    z-index: 1;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }

    &::before {
      top: 0;
      background: rgba(16, 16, 16, 0.62);
      z-index: 2;
    }

    &::after {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #101010 100%);
      bottom: 0;
      z-index: 3;
    }
  }

  .trl-title,
  .trl-paragraph {
    z-index: 2;
    position: relative;
    width: 100%;
  }

  @include breakpoint(medium) {
    min-height: 100vh;
    margin: 0 0 $gap4;
    grid-template-columns: $gap6x4 1fr $gap6x4;
    grid-template-rows: 1fr 1fr calc(4.75vw + 4.75vh);

    .trl-paragraph {
      font-size: calc(0.82vw + 0.82vh);
      max-width: calc(20vw + 20vh);
    }

    figure {
      position: absolute;
      top: calc(4.75vw + 4.75vh);
      right: 0;
      width: 68vw;
      height: 100vh;
      overflow: hidden;

      &::before {
        width: 101%;
        height: 101%;
        top: -1%;
        left: -1%;
        right: 0;
      }

      &::after {
        display: none;
      }
    }
  }
}
