.trl-btn {
  border: 2px solid $color-yellow;
  color: $color-white;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  appearance: none;
  outline: none;

  span {
    display: flex;
    align-items: center;
    height: 38px;
    width: 100%;
    padding: 0.32rem 1.72rem;
  }

  svg {
    margin-left: 1.25rem;
    width: 34px;
  }

  .icon-play {
    width: 18px;
  }

  @include breakpoint(medium) {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: $color-yellow;
      transition: all 0.3s ease;
      transform-origin: left;
      z-index: 1;
    }

    span {
      font-size: calc(0.64vw + 0.64vh);
      padding: calc(0.9vw + 0.9vh) calc(1.32vw + 1.32vh);
      z-index: 2;
      position: relative;
    }

    &:hover {
      transform: translateY(-4px);

      span {
        color: $color-font;
      }

      svg {
        path {
          fill: $color-font !important;
        }
      }

      &::before {
        left: 0;
      }
    }
  }
}
