.trl-filter {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #101010 100%);
  display: grid;
  grid-template-columns: $gap 1fr $gap;
  overflow: hidden;
  margin: 0 0 4rem;
  position: relative;
  z-index: 9;
  width: 100%;

  ul {
    grid-column: span 3;
    display: flex;
    overflow-x: auto;

    li {
      padding: 1rem 0.32rem;
      margin: 0 1.25rem;
      font-size: 1.12rem;
      line-height: 1.5;
      flex-shrink: 0;

      a {
        color: $color-white;

        &.active {
          color: $color-yellow;
          font-weight: 500;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @include breakpoint(medium) {
    grid-template-columns: $gap6x4 1fr $gap6x4;
    margin: 0 0 $gap4;

    ul {
      grid-column: 2;

      li {
        padding: 1rem 0;
        margin: 0 2rem 0 0;
      }
    }
  }
}
