.trl-footer {
  background-color: $color-bg;
  display: grid;
  grid-template-columns: $gap 1fr $gap;
  min-height: 500px;
  color: $color-font;

  br {
    display: none;
  }

  .pattern {
    display: none;
  }

  .trl-title {
    font-family: $font-baro-linetwo;
    color: $color-font;
    font-weight: 400;
  }

  label {
    color: $color-font;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }

  input {
    display: block;
    border-bottom: 1px solid $color-font;
    height: 38px;
    width: 100%;
    padding-top: 1rem;
  }

  .field {
    position: relative;
    margin-bottom: 1rem;
  }

  .trl-btn {
    border-color: $color-font;
    color: $color-font;
    width: 100%;

    span {
      justify-content: center;
    }

    svg {
      path {
        fill: $color-font;
      }
    }
  }

  .trl-form {
    margin: 2rem 0;
  }

  nav {
    text-align: center;
    margin: 0 0 2rem;
    font-size: 1rem;
    display: none;

    a {
      display: block;
      padding: 0.32rem 0;
      line-height: 1.75;
      color: $color-font;
    }
  }

  .trl-info {
    font-size: 0.82rem;
    margin: 0 0 2rem;

    p {
      margin: 0;
    }

    li {
      display: flex;
      align-items: flex-start;
      margin: 0 0 0.75rem;
    }

    a {
      color: $color-font;
    }

    svg {
      width: 20px;
      height: 20px;
      margin-right: 0.25rem;
    }
  }

  .trl-social {
    display: flex;
    justify-content: space-between;

    svg {
      width: 24px;
      height: 24px;
    }

    a {
      display: inline-block;
      margin: 0 0 0.25rem;
    }
  }

  .trl-footer__container {
    background-color: $color-yellow;
    grid-column: 2;
    grid-row: 1;
    padding: 1.5rem;
  }

  .gform_confirmation_message {
    background: $color-font;
    color: $color-white;
    padding: 1.25rem 1rem;
  }

  > span {
    grid-column: 2;
    grid-row: 2;
    display: block;
    padding: 1rem;
    font-size: 0.75rem;
    text-align: center;
    color: $color-white;
  }

  @include breakpoint(medium) {
    grid-template-columns: calc(4vw + 4vh) 1fr calc(4vw + 4vh);

    .pattern {
      display: block;
      overflow: hidden;
      height: 100%;
      width: 100%;
      position: relative;

      svg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: calc(-1.5vw - 1.5vh);
        transform: translateY(-50%);
      }
    }

    nav {
      display: block;
      margin: 0 0 1.25rem;

      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    form {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }

    input {
      height: 44px;
      padding-top: 1rem;
    }

    .field {
      margin: 0 0 calc(0.5vw + 0.5vh);
      margin-right: calc(1vw + 1vh);
      margin-bottom: calc(1vw + 1vh);

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    .field-message {
      grid-column: span 2;
      margin-right: 0;
    }

    .field-btn {
      grid-column: 2;
    }

    $gap1-75: calc(1.75vw + 1.75vh);

    .content {
      padding: $gap1-75 $gap1-75 0 $gap1-75;
    }

    br {
      display: block;
    }

    .trl-info {
      margin: auto 0;
      font-size: calc(0.58vw + 0.58vh);
    }

    aside {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: calc(0.75vw + 0.75vh);
    }

    .trl-footer__container {
      padding: 0;
      display: grid;
      grid-template-columns: calc(8.75vw + 8.75vh) 1fr calc(10vw + 10vh);
      position: relative;
    }

    > span {
      font-size: calc(0.58vw + 0.58vh);
      padding: calc(2vw + 2vh) 0;
    }
  }
}

.trl-page-contact {
  width: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  position: relative;
  display: grid;

  .trl-wrapper {
    position: absolute;
    z-index: 1;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }

    &::before {
      top: 0;
      background: rgba(16, 16, 16, 0.62);
      z-index: 2;
    }

    &::after {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #101010 100%);
      bottom: 0;
      z-index: 3;
    }
  }

  .trl-footer {
    margin-top: auto;
    z-index: 2;
  }
}

.trl-page-contact  {
  margin-bottom: 4rem;

  > div {
    display: none;

    &.trl-wrapper {
      display: grid;
    }
  }

  @include breakpoint(medium) {
    margin-bottom: 0;
    overflow: hidden;
  }
}
