.hamburger {
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  z-index: 3;
  width: 50px;
  height: 50px;
  font-size: 0;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 6px;
  flex-shrink: 0;
  grid-column: 4;
  grid-row: 2;
  position: fixed;
  top: calc(1.25vw + 1.25vh);
  right: calc(2vw + 2vh);

  span,
  &::before,
  &::after {
    content: "";
    display: block;
    background: $color-white;
    position: absolute;
    right: 0;
    top: 50%;
    width: 30px;
    height: 2px;
    transition: all 0.2s ease-in-out 0s;
    margin: 0 auto;
    transform: translateY(-50%);
  }

  &::before {
    top: 36%;
  }

  &::after {
    top: 65%;
  }

  &.active {
    position: fixed;
    top: calc(1.25vw + 1.25vh);
    right: calc(1.92vw + 1.92vh);

    &::before {
      transform: rotate(45deg);
      top: 24px;
    }

    &::after {
      transform: rotate(-45deg);
      top: 24px;
    }

    span {
      display: none;
    }
  }
}
