.trl-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 99;
  display: grid;
  grid-template-rows: $gap/2.12 1fr $gap/2.12;
  grid-template-columns: $gap 120px 1fr 50px $gap;

  .logo {
    display: inline-block;
    grid-column: 2;
    grid-row: 2;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
    }

    svg {
      width: 100%;

      path {
        fill: $color-yellow;
      }
    }
  }

  .trl-social {
    position: absolute;
    top: 7rem;
    right: 1.2rem;

    a {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    svg {
      width: 1rem;
      height: 1.2rem;

      path {
        fill: #cecece;
      }
    }

    @include breakpoint(medium) {
      top: calc(6vw + 6vh);
      right: calc(1.82vw + 1.82vh);
    }
  }
}

@include breakpoint(medium) {
  .trl-header {
    grid-template-rows: $gap/1.5 1fr $gap/1.5;
    grid-template-columns: $gap 140px 1fr 50px $gap;
    grid-template-rows: calc(1.2vw + 1.2vh) 1fr calc(1.2vw + 1.2vh);
    grid-template-columns: $gap2 $gap6 1fr 50px $gap2;
  }
}
