.trl-grid {
  display: grid;
  grid-template-columns: $gap 1fr $gap;
  position: relative;

  &::after {
    content: "";
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #101010 100%);
    position: absolute;
    right: 0;
    left: 0;
    bottom: -10rem;
    height: 10rem;
    width: 100%;
  }

  .trl-projects {
    grid-column: 2;
  }

  .trl-content {
    h3 {
      margin: 0.75rem 0 0.5rem 0;
      color: $color-yellow;
      font-size: 1rem;
      font-weight: 500;

      a {
        color: $color-yellow;
      }
    }

    p {
      margin: 0;
    }
  }

  img {
    display: block;
    max-width: 100%;
    margin: 0;
  }

  article {
    margin: 0 0 3rem;
  }

  @include breakpoint(medium) {
    grid-template-columns: 10% 1fr 10%;
    margin: 0 0 calc(6vw + 6vh);

    .trl-projects {
      grid-gap: calc(4vw + 4vh);
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
    }

    article {
      width: 50%;
      height: calc(14vw + 16vh);
      overflow: hidden;
      margin-top: 0;
      margin-bottom: 0;
      position: relative;
      align-self: flex-start;

      img {
        @include img_full;
      }

      .trl-content {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        text-align: left;
        padding-left: calc(1.25vw + 1.25vh);
        padding-bottom: calc(1.25vw + 1.25vh);
        opacity: 0;
        transition: all 0.3s ease;

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 102%;
          height: 102%;
        }

        &::before {
          top: 0;
          background: rgba(16, 16, 16, 0.62);
          z-index: 2;
        }

        &::after {
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 100%);
          bottom: 0;
          z-index: 3;
        }

        > div {
          z-index: 4;
          position: relative;
        }

        h3,
        p {
          width: 100%;
          margin-right: auto;
        }

        h3 {
          margin-top: 0;
          margin-bottom: calc(0.5vw + 0.5vh);
          font-weight: 500;
          font-size: calc(1.5vw + 1.5vh);
        }

        p {
          margin-top: 0;
          font-size: calc(1vw + 1vh);
        }
      }

      &:nth-child(2),
      &:nth-child(3n),
      &:nth-child(7),
      &:nth-child(10) {
        margin-left: auto;
        width: 37.42%;
        height: calc(22vw + 22vh);
        margin-bottom: calc(2vw + 2vh);
      }

      &:nth-child(3),
      &:nth-child(7) {
        margin-right: auto;
        margin-left: 0;
      }

      &:nth-child(3n),
      &:nth-child(7) {
        margin-top: calc(-6.42vw - 6.42vh);
      }

      &:nth-child(6) {
        margin-top: 0;
      }

      &:nth-child(9) {
        width: 50% !important;
        height: calc(14vw + 16vh) !important;
        margin-top: 0 !important;
        margin-right: auto;
        margin-left: 0;
      }

      &:hover {
        .trl-content {
          opacity: 1;
        }
      }
    }
  }
}

.trl-lines {
  position: absolute;
  top: -9rem;
  left: 0;
  width: 100%;
  height: calc(100% + 18rem);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  z-index: -1;
  opacity: 0;

  div {
    width: 1px;
    height: 100%;
    background: white;
    opacity: 0.12;
  }

  @include breakpoint(medium) {
    opacity: 1;
  }
}
