.menu {
  background-color: $color-black;
  color: $color-yellow;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  transition: all 900ms cubic-bezier(0.77, 0, 0.175, 1);

  nav {
    justify-content: center;
    align-items: center;
    margin: auto 0;
  }

  a {
    display: block;
    font-size: 1.82rem;
    padding: 0.82rem 3rem;
    color: $color-white;
    font-weight: 100;
    line-height: 1;
    transition: all 0.3s ease;

    &.active,
    &:hover {
      color: $color-yellow;
    }
  }

  li {
    transition: all 600ms ease;
    opacity: 0;
    transform: translateY(3rem);

    &:nth-child(1) {
      transition-delay: 0.5s;
    }

    &:nth-child(2) {
      transition-delay: 0.6s;
    }

    &:nth-child(3) {
      transition-delay: 0.7s;
    }

    &:nth-child(4) {
      transition-delay: 0.8s;
    }

    &:nth-child(5) {
      transition-delay: 0.9s;
    }

    &:nth-child(6) {
      transition-delay: 1s;
    }

    &:nth-child(6) {
      transition-delay: 1.1s;
    }

    &:nth-child(7) {
      transition-delay: 1.2s;
    }

    &:nth-child(8) {
      transition-delay: 1.3s;
    }
  }

  div {
    padding: 0 3.75rem;
    margin: 0 0 1.5rem;
    display: flex;
    align-items: center;
    font-size: 1rem;

    a {
      padding: 0;
      font-size: 1rem;
      display: inline-block;
      margin-left: 1rem;
    }
  }

  &.open {
    right: 0;

    li {
      transform: none;
      opacity: 1;
    }

    div {
      a {
        transform: none;
      }
    }
  }

  @include breakpoint(medium) {
    width: 689px;

    a {
      padding: calc(0.75vw + 0.75vh) calc(2.5vw + 2.5vh);
      font-size: calc(1.5vw + 1.5vh);
    }
  }
}

.hidden {
  overflow: hidden;

  .logo {
    z-index: 4;
    position: relative;

    svg {
      path {
        fill: $color-yellow;
      }
    }
  }

  .hamburger {
    &::before,
    &::after,
    span {
      background: $color-white;
    }
  }

  .trl-social {
    z-index: 4;

    svg {
      path {
        fill: $color-white;
      }
    }
  }
}
