.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  opacity: 0;
  visibility: hidden;

  .btn-close {
    position: absolute;
    top: -60px;
    right: 0;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border: none;
    outline: none;
    border: 1px solid $color-yellow;
    z-index: 2;
    cursor: pointer;
    appearance: none;
  }

  iframe {
    z-index: 1;
  }

  .modal-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    z-index: 2;
    width: 100%;
  }

  .c-slider {
    width: 100%;
    height: calc(28vw + 28vh);
    position: relative;
    overflow: hidden;

    img,
    span {
      @include img_full;
    }
  }

  .slick-next {
    right: -50px;
  }

  .slick-prev {
    left: -50px;
  }

  .slick-next,
  .slick-prev {
    border: 1px solid $color-yellow;
    width: 40px;
    height: 40px;
    padding: 0.5rem;
  }

  .modal-content {
    width: 94%;
    max-width: calc(50vw + 50vh);
    margin: 0 auto;
    position: relative;
    transition: all 0.4s ease;
    transform: translateY(100px);
    transition-delay: 0.4s;
    opacity: 0;
  }

  &.active {
    opacity: 1;
    visibility: visible;

    .modal-content {
      transform: none;
      opacity: 1;
    }
  }
}
