.sld-banner {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100%;

  .slick-slider,
  .slick-list,
  .slick-track {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
  }

  .slick-slide {
    width: 100vw;

    div {
      width: 100vw;
    }
  }
}

.sld-portfolio {
  .slick-slide {
    transform: scale(0.75);
    transition: all 0.6s ease;

    &.slick-center {
      transform: scale(1.1);
    }
  }
}
