.trl-testimonials {
  display: grid;
  grid-template-columns: $gap 1fr $gap;
  text-align: center;
  margin: calc(10vw + 10vh) auto calc(12vw + 12vh) auto;

  .trl-title {
    grid-column: 2;
    text-align: center;
  }

  .sld-testimonials {
    overflow: hidden;
    grid-column: 2;
    grid-row: 2;

    article {
      p {
        font-size: 0.92rem;
        line-height: 1.5;
        margin: 0 0 2rem;
      }

      strong {
        color: $color-yellow;
        font-size: 1rem;
        display: block;
        margin: 1rem auto;
      }

      span {
        font-weight: 100;
      }
    }

    .slick-dots {
      position: relative;
      bottom: 0;
      margin-top: 1rem;

      li {
        button {
          border-radius: 2rem;
          border: 1px solid $color-yellow;
        }

        &.slick-active {
          button {
            background: $color-yellow;
          }
        }
      }
    }
  }

  @include breakpoint(medium) {
    grid-template-columns: $gap6x4 1fr $gap6x4;

    .trl-title {
      margin-bottom: calc(2vw + 2vh);
    }

    .sld-testimonials {
      article {
        p {
          font-size: calc(0.75vw + 0.75vh);
        }

        strong {
          font-size: calc(0.92vw + 0.92vh);
        }

        span {
          font-size: calc(0.75vw + 0.75vh);
        }
      }
    }
  }
}
