.trl-our-history {
  display: grid;
  grid-template-columns: $gap 1fr $gap;
  margin: 0 0 2rem;

  .trl-title {
    font-size: calc(3.25vw + 3.25vh);

    strong {
      font-family: $font-baro-linetwo;
      font-weight: 100;
      font-size: calc(2.82vw + 2.82vh);
    }
  }

  article {
    grid-row: 1;
    grid-column: 2;
  }

  @include breakpoint(medium) {
    grid-template-columns: $gap6x4 1fr $gap6x4;

    .trl-paragraph {
      font-size: calc(0.82vw + 0.82vh);
    }
  }
}

.trl-timeline {
  overflow: hidden;
  margin: 0 0 2rem;

  .slick-track {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;

    button {
      color: $color-white;
      font-weight: 600;
      font-size: 0.92rem;
      padding: 2rem 1.5rem;
      margin: 0 0 1rem;
      line-height: 1;

      span {
        display: block;
      }
    }
  }

  .slick-slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background: #cecece;
      transition: all 0.3s ease;
      transition-delay: 0.3s;
    }

    &::before {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 2rem;
      width: 1px;
    }

    &::after {
      bottom: 1rem;
      left: 0;
      height: 1px;
      width: 100%;
    }

    &.slick-current {
      &::before {
        background: $color-yellow;
      }

      button {
        color: $color-yellow;
      }
    }
  }

  @include breakpoint(medium) {
    margin: 0 0 calc(5vw + 5vh);

    .slick-slider {
      width: calc(100% - 34vw);
      margin: 0 auto;
    }

    ul,
    .slick-track {
      grid-column: 2;
      justify-content: space-between;

      li,
      .slick-slide {
        flex-grow: 1;
      }
    }
  }
}

.trl-timeline-detail {
  display: grid;
  grid-template-columns: $gap 1fr $gap;
  margin: 0 0 6rem;

  .content {
    grid-column: 2;
    overflow: hidden;

    h2 {
      color: $color-yellow;
      font-weight: 600;
      font-size: 1.85rem;
      margin: 0 0 0.75rem;
    }

    h3 {
      font-size: 1rem;
      line-height: 1.25;
      font-weight: 600;
      margin: 0 0 1.5rem;
    }

    p {
      font-size: 0.8rem;
      line-height: 1.5;
      margin: 0 0 2rem;
    }

    figure,
    img {
      max-width: 100%;
    }
  }

  .slick-slider {
    position: relative;

    .slick-prev,
    .slick-next {
      border: 1px solid $color-yellow;
      position: absolute;
      z-index: 4;
      top: 0;
      left: auto;
      right: 0;
      transform: none;
      width: 30px;
      height: 30px;
    }

    .slick-prev {
      right: 40px;
    }
  }

  @include breakpoint(medium) {
    grid-template-columns: $gap6x4 1fr $gap6x4;
    margin: 0 0 calc(6vw + 6vh);

    article {
      display: grid;
      grid-template-columns: 43% 12% 45%;

      .content {
        grid-column: 1;

        h2 {
          font-size: calc(1.75vw + 1.75vh);
          text-align: center;
        }

        h3 {
          font-size: calc(0.9vw + 0.9vh);
          line-height: 1.25;
        }

        p {
          font-size: calc(0.62vw + 0.62vh);
        }
      }

      figure {
        grid-column: 3;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        min-height: 380px;

        &::after {
          content: "";
          position: absolute;
          top: 1.25rem;
          right: 0;
          width: 90%;
          height: 100%;
          background-color: $color-yellow;
          z-index: 1;
        }

        img {
          @include img_full;

          top: inherit;
          left: 46.75%;
          bottom: -47%;
          z-index: 2;
        }
      }
    }

    .slick-slider {
      .slick-prev,
      .slick-next {
        top: 4px;
      }

      .slick-prev {
        left: 0;
      }

      .slick-next {
        left: 40%;
      }
    }
  }
}

marquee {
  font-size: calc(6vw + 6vh);
  font-family: $font-gilroy;
  font-weight: 600;
  color: #c4c4c4;
}

.trl-werehiring {
  margin: 0 0 calc(6vw + 6vh);
}
