.page-error {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .page-error__container {
    color: $color-yellow;
    text-align: center;
  }

  strong {
    font-size: calc(7vw + 7vh);
    display: block;
    font-weight: 600;
  }

  p {
    font-weight: 500;
    font-size: 1rem;
    color: $color-white;
    margin: 0 auto 1rem auto;

    @include breakpoint(medium) {
      font-size: calc(1vw + 1vh);
    }
  }

  footer {
    display: none;
  }
}
