.page-blog {
  .trl-banner {
    .trl-group-btn {
      z-index: 2;
      width: 100%;
    }
  }

  .trl-blog {
    display: grid;
    grid-template-columns: 2.25rem 1fr 2.25rem;

    .trl-blog-content {
      grid-column: 2;
    }

    @include breakpoint(medium) {
      grid-template-columns: $gap6x4 1fr $gap6x4;

      .trl-blog-content {
        margin: calc(6vw + 6vh) 0 calc(10vw + 10vh) 0;
      }
    }
  }

  @include breakpoint(medium) {
    .trl-banner {
      margin-bottom: 0;

      .trl-title {
        padding-right: calc(12vw + 12vh);
      }
    }
  }
}

.posts-list {
  margin: 4rem 0;

  article {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    min-height: 450px;

    figure {
      margin: 0 0 1rem;
    }

    h2 {
      color: $color-yellow;
      font-size: 1.25rem;
      font-weight: 500;
      margin: 0 0 0.5rem;
    }

    .date {
      font-size: 0.92rem;
      opacity: 0.75;
      margin: 0 0 2rem;
    }

    .trl-paragraph {
      margin: 0 0 1rem;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;

      p {
        margin: 0;
      }
    }

    .trl-btn {
      margin: auto 0 0 auto;
    }
  }

  .trl-btn {
    margin-left: auto;
  }

  @include breakpoint(medium) {
    display: flex;
    flex-wrap: wrap;
    margin: calc(3vw + 3vh) 0;

    article {
      width: calc(33.33% - calc(2vw + 2vh));
      margin-right: calc(2.5vw + 2.5vh);
      margin-bottom: calc(2.5vw + 2.5vh);

      figure {
        margin: 0 0 calc(1vw + 1vh);
      }

      h2 {
        font-size: calc(1.05vw + 1.05vh);
        margin: 0 0 calc(0.5vw + 0.5vh);
      }

      p,
      ul {
        font-size: calc(0.68vw + 0.68vh);
      }

      .date {
        font-size: calc(0.62vw + 0.62vh);
        margin: 0 0 calc(1.75vw + 1.75vh);
      }

      .trl-paragraph {
        margin: 0 0 calc(0.5vw + 0.5vh);
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

.trl-blog-detail {
  .trl-image-blog {
    position: relative;
    height: 300px;
    overflow: hidden;
    display: block;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: auto;
      max-height: none;
      max-width: none;
      min-height: 100%;
      min-width: 100%;
      transform: translate(-50%, -50%);
      -o-object-fit: cover;
      object-fit: cover;
      margin: 0;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }

    &::before {
      top: 0;
      background: rgba(16, 16, 16, 0.62);
      z-index: 2;
    }

    &::after {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #101010 100%);
      bottom: 0;
      z-index: 3;
    }
  }

  .trl-detail {
    display: grid;
    grid-template-columns: 2.25rem 1fr 2.25rem;
  }

  .info {
    grid-column: 2;

    .title {
      color: $color-yellow;
      font-size: 1.75rem;
      font-weight: 500;
      margin: 0 0 1rem;
    }

    .date {
      margin: 0 0 1rem;
    }
  }

  img {
    max-width: 100%;
    display: block;
    margin: 1.75rem 0;
    width: 100%;
    height: auto;
  }

  .content {
    line-height: 1.62;
    font-weight: 1rem;
  }

  .bottom {
    margin: 2rem 0 5rem 0;
  }
}

.breadcrumb {
  padding: 1rem 0 0 0;

  ul {
    display: flex;
    align-items: center;
    margin: 0;

    a,
    span {
      color: $color-white;
    }

    a {
      text-decoration: underline;
    }

    li {
      margin-right: 0.25rem;
    }
  }
}

.btn-back {
  color: $color-yellow;
  justify-content: flex-start;

  svg {
    transform: scale(-1);
    margin-left: 0;
    margin-right: 0.5rem;
  }
}

@include breakpoint(medium) {
  .trl-blog-detail {
    display: flex;
    flex-direction: row;

    .trl-image-blog {
      height: calc((var(--vh, 1vh) * 100));
      width: 40%;
      flex: 0 0 40%;

      &::after {
        display: none;
      }
    }

    .trl-detail {
      grid-template-columns: calc(4vw + 4vh) 1fr calc(5vw + 5vh);

      .content {
        text-align: justify;
      }
    }

    .info {
      .title {
        font-size: calc(1.5vw + 1.5vh);
        margin: 0 0 calc(0.5vw + 0.5vh);
      }

      .date {
        font-size: calc(0.68vw + 0.68vh);
        opacity: 0.75;
        margin: 0 0 calc(1.25vw + 1.25vh);
      }

      .content {
        font-size: calc(0.78vw + 0.78vh);
        overflow: auto;
        height: calc((var(--vh, 1vh) * 100) - 18px - 65px - 140px);

        .inner-content {
          margin-bottom: 2rem;
          margin-right: 1rem;
        }

        &::-webkit-scrollbar-track {
          background-color: rgba(230, 231, 233, 0.25);
          border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $color-yellow;
          border-radius: 8px;
        }

        &::-webkit-scrollbar {
          width: 5px;
          border-radius: 4px;
        }
      }
    }

    .bottom {
      margin: calc(2vw + 2vh) 0 calc(5vw + 5vh) 0;
    }
  }

  .breadcrumb {
    padding: calc(2vw + 2vh) 0;

    ul {
      a,
      span {
        font-size: calc(0.68vw + 0.68vh);
      }
    }
  }
}
