div,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
section,
article,
span,
ul,
li,
figure,
select,
input,
textarea {
  box-sizing: border-box;
  outline: none;

  &:focus {
    outline: none;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0 0 1rem;
}

button,
input,
textarea,
select {
  font-family: $font-gilroy;
  font-weight: 400;
  appearance: none;
  border: 0;
  background-color: transparent;
  padding: 0;
  background-color: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

select {
  background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 452 258' xmlns='http://www.w3.org/2000/svg' fill='%23FFFFFF'><path d='M225.923 257.706C217.825 257.706 209.728 254.614 203.554 248.443L9.27001 54.157C-3.08899 41.798 -3.08899 21.76 9.27001 9.406C21.624 -2.948 41.658 -2.948 54.018 9.406L225.923 181.321L397.829 9.41201C410.188 -2.94199 430.22 -2.94199 442.573 9.41201C454.938 21.766 454.938 41.804 442.573 54.163L248.292 248.449C242.115 254.621 234.018 257.706 225.923 257.706Z'/></svg>")
    no-repeat;
  background-size: 0.72rem;
  background-position: calc(100% - 0.5rem) 50%;
  background-repeat: no-repeat;
}

input[type="file"] {
  outline: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

figure {
  margin: 0 auto;
  padding: 0;
}

img {
  display: inline-block;
  max-width: 100%;
}
