body {
  background-color: $color-bg;
  color: $color-white;
  font-family: $font-gilroy;
  font-weight: 400;
  margin: 0;
  font-size: 14px;
  min-height: calc(var(--vh, 1vh) * 100);
}

#__next {
  width: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  font-size: 0;

  > * {
    font-size: 14px;
  }
}

.trl-header,
.trl-footer {
  flex-shrink: 0;
}

.trl-wrapper {
  flex: 1 0 auto;
  flex-shrink: 0;
  width: 100%;
}

[class^="trl__sec"],
[class*=" trl__sec"] {
  display: grid;
  grid-template-columns: $gap 1fr $gap;
  margin: 0 0 $gap * 4;
  min-height: 500px;

  > article {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  @include breakpoint(medium) {
    grid-template-columns: $gap6x4 1fr $gap6x4;
    min-height: 600px;
    min-height: 100vh;
    margin: 0;
  }
}

.trl-title {
  text-align: left;
  font-weight: 600;
  color: $color-yellow;
  text-transform: uppercase;
  font-size: 2.65rem;
  margin: 0 0 1rem;
  display: block;
  line-height: 1.072;

  span,
  strong {
    display: block;
  }

  @include breakpoint(medium) {
    line-height: 0.92;
    font-size: calc(3.25vw + 3.25vh);
    margin: 0 0 calc(1vw + 1vh);
  }
}

.trl-paragraph {
  font-weight: 100;
  line-height: 1.5;
  margin: 0 0 2rem;
  font-size: 1rem;

  strong,
  b {
    color: $color-white;
  }

  @include breakpoint(medium) {
    font-size: calc(0.65vw + 0.65vh);
    margin: 0 0 calc(1.25vw + 1.25vh);
  }
}
